@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600");
.more-pens {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 10;
  font-family: "Montserrat";
  font-size: 12px;
}

a.white-mode, a.white-mode:link, a.white-mode:visited, a.white-mode:active {
  font-family: "Montserrat";
  font-size: 12px;
  text-decoration: none;
  background: #212121;
  padding: 4px 8px;
  color: #f7f7f7;
}
a.white-mode:hover, a.white-mode:link:hover, a.white-mode:visited:hover, a.white-mode:active:hover {
  background: #edf3f8;
  color: #212121;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #000000;
}

.title {
    z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: "Montserrat";
  text-align: center;
  width: 60%;
    
    
    
    
background:rgba(0,0,0,0.8)    
}
.title h1 {
  position: relative;
  color: #EEEEEE;
  font-weight: 600;
  font-size: 60px;
  padding: 0;
  margin: 0;
  line-height: 1;
  text-shadow: 0 0 30px #000155;
   
}
.title h1 span {
  font-weight: 600;
  padding: 0;
  margin: 0;
  color: #BBB;
}
.title h3 {
  font-weight: 200;
  font-size: 20px;
  padding: 0;
  margin: 0;
  line-height: 1;
  color: #EEEEEE;
  letter-spacing: 2px;
  text-shadow: 0 0 30px #000155;
}





.em {
    width: 90%;
      font-family: "Montserrat";

}
.em::-moz-placeholder {
          font-family: "Montserrat";

}

.pass {
    width:90%;
      font-family: "Montserrat";

}


.head {
    text-align: center;
  color: #EEEEEE;
  font-weight: 600;
  font-size: 60px;

  line-height: 1;
}



.sin {
    
    color: white;
}
.greet {
   font-family: "Montserrat"; 
    color:white;
}


 p.quote {
        left: 43%; 
    }
.em,.pass {
        width: 50%;
    }


/*deskops*/
@media (max-width:1280px) {
    
    .em,.pass {
        width: 90%;
    }
    p.quote {
        left: 26%; 
    }
    
}


/*mobiles*/

@media (max-width:600px) {
    
    .quote {
left: 25%;    }
    
    
    }






p.quote {
     color: white;
      font-family: "Montserrat";
position:absolute; 
    bottom:0;
    font-size:13px; 
    margin-top:10%;
    
}